# fly.toml - used for PR preview deployments on Fly.io
# Production deployment is on Hetzner (see deploy-hetzner.yml)

primary_region = 'sin'

[build]

[env]
  PORT = '8080'
  GOOGLE_CLIENT_ID = '804814798298-taifmq3k6olk9bjr1cqb9gfnp1mssqqb.apps.googleusercontent.com'
  JWT_PUB_EC_PEM = """-----BEGIN PUBLIC KEY-----
MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEoqN3/0RNfrnrnYGxKBgy/qHnmITr
+6ucjxStx7tjA30QJZlWzo0atxmY8y9dUR+eKQI0SnbQds4xLEU8+JGm8Q==
-----END PUBLIC KEY-----"""
  APPLE_CLIENT_ID = "com.yral.yral-auth"
  APPLE_TEAM_ID = "2UL556KNXC"
  APPLE_KEY_ID = "9DWVYWDYD8"
  CLIENT_JWT_PUB_ED_PEM = """-----BEGIN PUBLIC KEY-----
MCowBQYDK2VwAyEAKpZNfPOONR9AXiaGmHv8AHemm4SNK0uh+mf523ho5KU=
-----END PUBLIC KEY-----"""
  SERVER_URL = "https://auth.yral.com"
  APP_ENV = "preview"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
