name: Deploy to Fly on push to main
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build_check:
    uses: ./.github/workflows/build-check.yml
    with:
      publish-artifact: true

  deploy:
    name: Deploy
    needs: build_check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Download build
        uses: actions/download-artifact@v4
        with:
          name: build-musl

      - run: chmod +x target/x86_64-unknown-linux-musl/release/yral-auth-v2

      - uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Set secret tokens
        run: |
          flyctl secrets set COOKIE_KEY="$COOKIE_KEY" --app "yral-auth-v2" --stage
          flyctl secrets set REDIS_URL="$REDIS_URL" --app "yral-auth-v2" --stage
          flyctl secrets set GOOGLE_CLIENT_SECRET=$GOOGLE_CLIENT_SECRET --app "yral-auth-v2" --stage
          flyctl secrets set JWT_EC_PEM="$JWT_EC_PEM" --app "yral-auth-v2" --stage
          flyctl secrets set CLIENT_JWT_ED_PEM="$CLIENT_JWT_ED_PEM" --app "yral-auth-v2" --stage
          flyctl secrets set APPLE_AUTH_KEY_PEM="$APPLE_AUTH_KEY_PEM" --app "yral-auth-v2" --stage
          flyctl secrets set WHATSAPP_API_KEY="$WHATSAPP_API_KEY" --app "yral-auth-v2" --stage
          flyctl secrets set DRAGONFLY_PASSWORD="$DRAGONFLY_PASSWORD" --app "yral-auth-v2" --stage
          flyctl secrets set DRAGONFLY_HOSTS="$DRAGONFLY_HOSTS" --app "yral-auth-v2" --stage
          flyctl secrets set DRAGONFLY_CA_CERT="$DRAGONFLY_CA_CERT" --app "yral-auth-v2" --stage
          flyctl secrets set DRAGONFLY_CLIENT_CERT="$DRAGONFLY_CLIENT_CERT" --app "yral-auth-v2" --stage
          flyctl secrets set DRAGONFLY_CLIENT_KEY="$DRAGONFLY_CLIENT_KEY" --app "yral-auth-v2" --stage
        env:
          FLY_API_TOKEN: ${{ secrets.YRAL_AUTH_V2_FLY_IO_GITHUB_ACTION }}
          COOKIE_KEY: ${{ secrets.AUTH_SESSION_COOKIE_SIGNING_SECRET_KEY }}
          REDIS_URL: ${{ secrets.AUTH_FLY_IO_UPSTASH_REDIS_DATABASE_CONNECTION_STRING }}
          GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_SIGNING_OAUTH_CLIENT_CREDENTIAL_CLIENT_SECRET }}
          JWT_EC_PEM: ${{ secrets.AUTH_JWT_ES256_SIGNING_SECRET_KEY_PEM }}
          CLIENT_JWT_ED_PEM: ${{ secrets.CLIENT_JWT_ED_PEM }}
          APPLE_AUTH_KEY_PEM: ${{ secrets.APPLE_AUTH_KEY_PEM }}
          WHATSAPP_API_KEY: ${{ secrets.WHATAPP_MESSAGE_SERVICE_API_KEY }}
          DRAGONFLY_PASSWORD: ${{ secrets.DRAGONFLY_PASSWORD }}
          DRAGONFLY_HOSTS: ${{ vars.DRAGONFLY_HOSTS }}
          DRAGONFLY_CA_CERT: ${{ secrets.DRAGONFLY_CA_CERT }}
          DRAGONFLY_CLIENT_CERT: ${{ secrets.DRAGONFLY_CLIENT_CERT }}
          DRAGONFLY_CLIENT_KEY: ${{ secrets.DRAGONFLY_CLIENT_KEY }}
      - name: Deploy a docker container to Fly.io
        run: flyctl deploy --remote-only -c fly-prod.toml
        env:
          FLY_API_TOKEN: ${{ secrets.YRAL_AUTH_V2_FLY_IO_GITHUB_ACTION }}